@import "tailwindcss";

@import "./global.css";

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-sans:
        "Geist", Figtree, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-neutral-200, currentColor);
    }
}

[x-cloak] {
    display: none !important;
}

html.light {
    color-scheme: light;
}
html.dark {
    color-scheme: dark;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
